<div class="container">
    <h1 class="text-secondary my-4 fw-bold fs-2">Welcome To Todo App</h1>
    <p class="fs-4">The main objective to build this app is to learn angular concepts, </p>
    <p class="fs-5">This app contains the features of routing, <strong>Angular Authentication</strong>, Interacting with Diff components, and services

    <p>To Create your Todos' list, First you need to create account in this app.</p>
    <p class="fs-4 text-secondary">Click here to create an account : <a class="link" routerLink="/register">Register</a></p>
    <p class="fs-4 text-secondary">Already have an account ? Click here to <a class="link" (click)="login()">Login</a></p>
    <p class="fs-3 fw-bold text-secondary my-5 text-center">This is simple Home Component</p>
    <ul>
        <li>In this app, You can keep tack of your daily tasks</li>
        <li>You can Add new Task</li>
        <li>You can delete them</li>
        <li>You can mark them as completed</li>
    </ul>
</div>
